<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
<h1>Main page</h1>
<div sec:authorize="!isAuthenticated()">
	<a th:href="@{/login}">
		<button style="font-size:18px">Log in</button>
	</a>
	<p/>
	<a th:href="@{/regist}">
		<button style="font-size:18px">Registration</button>
	</a>
</div>
<div sec:authorize="isAuthenticated()">
	<h3><span sec:authentication="name">Username</span></h3>
	<a th:href="@{/}">
		<button style="font-size:18px">Log out</button>
	</a>
</div>
<p/>
<a th:href="@{/user}">
	<button style="font-size:18px">Information about user</button>
</a>
<p/>
<a th:href="@{/admin}">
	<button style="font-size:18px">Administrator</button>
</a>
</body>
</html>