<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
</head>
<body>
<h1>Registration new user</h1>
<form th:method="POST" th:action="@{/regist}" th:object="${user}">
	<input style="font-size:18px" type="text" th:field="*{username}" placeholder="Username" th:autofocus/>

	<p/>
	<input style="font-size:18px" type="password" th:field="*{password}" placeholder="Password"/>

	<p/>
	<input style="font-size:18px" type="password" th:field="*{confPass}" placeholder="Confirm password"/>

	<p/>
	<a th:href="@{/}"><input style="font-size:18px" type="submit" value="Registration"/></a>
</form>

<a th:href="@{/}">
	<button style="font-size:18px">Home</button>
</a>
</body>
</html>